<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Footer Elements -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4">
                    <!-- Form -->
                    <form class="form-inline">
                        <form class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Your email"
                                aria-label="Your email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button (click)="onClick()" class="btn btn-sm btn-outline-primary my-0" style="margin-left:20px;" type="button">Sign up</button>
                            </div>
                        </form>
                    </form>
                   <!-- Form -->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4">
                    <!-- Copyright -->
                        <span style="color:aliceblue;margin-left: 100px;">© 2022 Copyright</span>                   
                    <!-- Copyright -->
                </div>
                <div class="col-lg-4">
                    <a href="/" style="margin-left: 100px;"> www.jstech.com</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Footer Elements -->
</nav>