<!-- STRING INTERPOLATION -->
<h1>Hello!!!This is {{title}}</h1>
<h3>{{random_number}} My name is {{name}}</h3>
<img src="assets/img3.jpg" height="100px" width="100px" alt="jQuery"/>
<br>
<!-- PROPERTY BINDING -->
<img [src]="image" alt="CSS" height="100px" width="100px"/>
<br>
<!-- EVENT BINDING -->
<button (click)="onClick()">Event Binding</button>
<br>
<br>
<button (click)="onClick1()">Event Binding1</button>
<br>
<br>
<!-- ngModel Directive for 2-way binding -->
<input [(ngModel)]="random_number" type="text">
<br>
<br>
<h4>{{random_number}}</h4>
<ul>
    <li *ngFor="let course of courses">
        {{course.courseid}} - {{course.coursename}}
    </li>
</ul>

<input [(ngModel)]="mycolor" type="text"/>
<div [ngStyle]="{'color':mycolor}">Change the Color</div> 
<br>

<router-outlet></router-outlet>
