/* .red { color: red; }
.size20 { font-size: 20px; }
.yellow{background-color: yellow;}
.shadow{text-shadow: 3px 4px 4px blue;} */
img{
    height:200px;
    width: 100px;
    margin-left: 50px;
    margin-top: 30px;
}
