
<!-- STRING INTERPOLATION -->
<h1>Hello!!!This is {{title}}</h1>
<h3>{{random_number}} My name is {{name}}</h3>
<img src="assets/img3.jpg" height="100px" width="100px" alt="jQuery" />
<br>
<!-- PROPERTY BINDING -->
<img [src]="image" alt="CSS" height="100px" width="100px" />
<br>
<!-- EVENT BINDING -->
<button (click)="onClick()">Event Binding</button>
<br>
<br>
<button (click)="onClick1()">Event Binding1</button>
<br>
<br>
<!-- ngModel Directive for 2-way binding -->
<input [(ngModel)]="random_number" type="text">
<br>
<br>
<h4>{{random_number}}</h4>
<ul>
    <li *ngFor="let course of courses" [ngStyle]="{'color':mycolor}">
        {{course.courseid}} - {{course.coursename}}
    </li>
</ul>
<!-- mycolor-red -->
<input [(ngModel)]="mycolor" type="text" />
<div [ngStyle]="{'color':mycolor}">Change the Color</div>
<hr>
<!--Multiple Styles-->
<p [ngStyle]="{'color': 'purple',
                 'font-size': '24px',
                 'font-weight': 'bold',
                 'font-family':'cursive',
                  'text-shadow':'3px 2px 3px yellow'}">
    Multiple styles
</p>
<hr>
<!-- ngStyle Demo -->
<ul *ngFor="let person of people">
    <li [ngStyle]="{'font-size.px':16}" [style.color]="getColor(person.country)">{{ person.name }}-({{ person.country
        }})
    </li>
</ul>
<hr>
<!-- ngClass Demo -->
<ul *ngFor="let person of people">
    <li [class.text-danger]="person.country === 'UK'" [class.text-info]="person.country === 'USA'"
        [class.text-success]="person.country === 'IN'" [class.text-primary]="person.country === 'AUS'">{{ person.name }} ({{ person.country }})
    </li>
</ul>
<br>
<!--ngClass-->
<div class="row" class="container-fluid">
    <div [ngClass]="cssArray"> Red Text with Size 20px : from component as object</div>
</div>

<hr>
